---
layout: default
---
<section class="head">
  <img class="main-bg" src="images/dravenbeast.jpg" alt="beast draven skin">
  <img class="main-bg2" src="images/gladdraven.jpg" alt="draven gladiator skin">
  {% include nav.html %}
  <div>
    <h2>TYLER1</h2>
    <h3>CREATIVE STREAMER</h3>
  </div>
</section>
<section>
  {% for icon in site.data.icons %}
    <div>
      <img src="{{icon.images}}" alt="{{icon.title}}">
      <h2>{{icon.title}}</h2>
    </div>
  {% endfor %}
</section>
<section>
  <h2>About Tyler1</h2>
  <p>Tyler1 is a reformed League of Legends player.</p>
  <p>He has exposed hypocrites such as Memeos</p>
  <p>Tyler1 ban was the highlight of his career</p>
</section>
<section>
  <h2>Forms of tyler1</h2>
  <div>
    {% for form in site.data.forms %}
      <div class="parent-img">
        <div class="child" style="background-image: url('{{form.image}}')">
          <p>{{form.title}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<section>
  <div>
    <p>22</p>
    <p>accounts banned</p>
  </div>
  <div>
    <p>9999</p>
    <p>Draven plays</p>
  </div>
</section>
<section>
  <h2>TYLER1 Accomplishment</h2>
  {% for projects in site.data.project %}
    <div class="parent">
      <div class="child" style="background-image: url('{{projects.image}}')">
        <p>{{projects.title}}</p>
      </div>
    </div>
  {% endfor %}
</section>
<section>
  <h2>subscribe to newsletter</h2>
  <div>
    <input type="text">
    <a href="#">subscribe</a>
  </div>
</section>
<section>
  <h2>tyler1 creates awesome content</h2>
  <a href="#">start watching</a>
</section>
<section>
  <h2>About Tyler mther fk'n 1</h2>
  <p>I sexually identify as tyler1. Ever since I was a boy I dreamed of running it down mid and typing "hehe xd" to boosted animals. People say to me that a beta becoming an alpha god is impossible and that I’m fucking retarded, but I don’t care, I’m an alpha. I’m having an engineer install a McChicken dispenser and an Oreo McFlury maker in my room. From now on I want you guys to call me “tyler1” and respect my right to catch axes and flame needlessly. If you can’t accept me you’re an dravenphobe and need to check your alpha privilege. hehe xd.</p>
</section>
<section class="dravens">
  {% for dravens in site.data.draven %}
    <div>
      <img src="{{dravens.image}}" alt="{{draven.title}}">
      <p>{{draven.title}}</p>
    </div>
  {% endfor %}
</section>
<section>
  <h2>testimonials</h2>
  <p>facing tyler1 on the rift was a really easy game! He got ganked and died. After that he just int feed. Thanks for free lp LUL. - nottyler1fanboi (before reform)</p>
</section>
<section>
  <h2>CONTACTS</h2>
  <div>
    <h2>stream</h2>
    <p><a href="">twitch stream</a></p>
  </div>
  <div>
    <h2>contact me</h2>
    <p>theluckorange@yahoo.com</p>
  </div>
</section>
<section>
  <h2>T Y L E R 1</h2>
</section>
