html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #1b1a1a;
  color: #d6d6d6;
  display: flex;
  justify-content: center;
}

footer p {
  letter-spacing: 2px;
}

footer a {
  color: #d6d6d6;
  text-decoration: none;
}

nav {
  align-items: center;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  position: relative;
  height: 80px;
  z-index: 3;
}

nav ul {
  display: flex;
  flex-basis: 40%;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 4%;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav p, nav .button {
  margin: 0 2%;
}

nav .button {
  display: none;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.about h2 {
  letter-spacing: 3px;
}

.about p {
  color: #808080;
  text-align: center;
  width: 80%;
}

.about span {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.aboutty {
  align-items: center;
  background-color: #1b1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  text-align: center;
}

.aboutty div {
  color: #d6d6d6;
}

.aboutty h2 {
  letter-spacing: 3px;
}

.accomplishty {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1200px;
  justify-content: center;
}

.accomplishty .forms-image {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.accomplishty .forms-image {
  font-size: 28px;
}

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.contact .contact-title {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
}

.contact span {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.contact .contact-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact .contact-info div {
  text-align: center;
}

.contact .contact-info div a {
  color: #808080;
  text-decoration: none;
}

.contact .contact-info div h2 {
  font-size: 25px;
  letter-spacing: 3px;
}

.content {
  align-items: center;
  background-color: #1b1a1a;
  color: #d6d6d6;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.content a {
  border: #fff solid 1px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 10px;
  text-decoration: none;
}

.content h2 {
  font-size: 30px;
  letter-spacing: 3px;
}

.dataty {
  align-items: center;
  background-color: #1b1a1a;
  color: #d6d6d6;
  display: flex;
  height: 300px;
  justify-content: space-around;
  text-align: center;
}

.dravens {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 100px 0;
}

.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50em;
  justify-content: center;
}

.forms span {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.parent-img {
  height: 500px;
  overflow: hidden;
  width: 33%;
}

.child {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 4s;
  position: relative;
  z-index: 1;
}

.dravens .parent-img .move {
  background-position: 97% 5%;
}


.child::before {
  background-color: #000;
  content: '';
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.child:hover::before {
  opacity: 0.5;
}

.forms .forms-image {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*hover image zooms in*/

.parent-img:hover .child,
.parent-img:focus .child {
    transform: scale(1.2);
}

.child .inner {
  color: #fff;
  opacity: 0;
}

/*.forms .child:hover {
  opacity: 0.5;
}*/

.child:hover > .inner {
  opacity: 1;
}

/*put here to overrule all the other rules*/


.head {
  background-color: #000;
  color: #fff;
  height: 650px;
  overflow: hidden;
}

.head .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 560px;
  justify-content: center;
}

.head .main-bg {
  height: 650px;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: 1;
  animation: fadeOut 5s infinite alternate;
  overflow: hidden;
}

.head .main-bg2 {
  height: 650px;
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 1;
  animation-delay: 3s;
  animation: fadeIn 5s infinite alternate;
  overflow: hidden;
}

.icons {
  align-items: center;
  display: flex;
  height: 24rem;
  justify-content: space-around;
}

.icons img {
  height: 200px;
  width: 200px;
}

.icons div {
  text-align: center;
}

.resp-main {
  position: relative;
  z-index: 1;
}

.responsiveNav {
  background-color: rgba(228, 226, 226, 0.5);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  margin: 0;
  padding: 0 0 0 20px;
  left: 0;
  width: 100%;
  height: 50%;
  list-style-type: none;
  transform: translateY(-150%);
  transition: transform 0.6s ease;
  z-index: 1;
}

.responsiveNav li a {
  color: #000;
  text-decoration: none;
}


.testimonial {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  position: relative;
}

.testimonial img {
  top: 0;
  left: 0;
  height: 399px;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}


.testimonial h2 {
  color: #fff;
  letter-spacing: 3px;
}

.testimonial p {
  color: #808080;
}

.toggle-nav {
  transform: translateY(0);
}

/*text styles*/

.slash {
  text-decoration: line-through;
}

.underline {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}


@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
}

@keyframes fadesText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {

  nav {
    background-color: rgba(228, 226, 226, 0.5);
  }

  nav ul {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 800px) {

  nav .button {
    display: block;
  }

  nav .nav {
    display: none;
  }

  .aboutty h2 {
    margin-bottom: 30px;
  }

  .aboutty div p {
    margin: 0;
  }

  .accomplishty .forms-image {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .accomplishty .forms-image .parent-img {
    width: 100%;
  }

  .accomplishty .forms-image .parent-img .child {
    background-position: 30% 5%;
  }

  .dravens .forms-image .parent-img .child {
    background-position: 74%;
  }

  .icons {
    flex-direction: column;
    height: 900px;
  }

  .forms {
    height: 1200px;
  }

  .forms .forms-image {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
  }


  .forms .forms-image .parent-img {
    height: 350px;
    width: 40%;
  }
}


@media screen and (max-width: 600px) {

  .about {
    height: 400px;
  }

  .content {
    text-align: center;
  }

  .dravens {
    flex-direction: column;
  }

  .dravens .parent-img {
    width: 100%;
  }

  .testimonial {
    text-align: center;
  }
}
