html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  position: relative;
  height: 80px;
  z-index: 3;
}

nav ul {
  display: flex;
  flex-basis: 40%;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 4%;
}

nav p, nav .button {
  margin: 0 2%;
}

nav .button {
  display: none;
}

.aboutty {
  align-items: center;
  background-color: #1b1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  text-align: center;
}

.aboutty div {
  color: #d6d6d6;
}

.aboutty h2 {
  letter-spacing: 3px;
}

.dravens img {
  width: 800px;
}

.forms .parent-img {
  background-color: #000;
  height: 500px;
  overflow: hidden;
  width: 30%;
}

.forms .child {
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 4s;
}

.forms .forms-image {
  display: flex;
  justify-content: space-around;
}

/*hover image zooms in*/

.parent-img:hover .child,
.parent-img:focus .child {
    transform: scale(1.5);
}

.forms .child .inner {
  color: #fff;
  position: relative;
  opacity: 0;
  z-index: 10;
}

.forms .child:hover {
  opacity: 0.5;
}

.forms .child:hover > .inner {
  opacity: 1;
}


.head {
  background-color: #000;
  color: #fff;
  height: 650px;
}

.head .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 560px;
  justify-content: center;
}

.head .main-bg {
  height: 650px;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: 1;
  animation: fadeOut 5s infinite alternate;
  overflow: hidden;
}

.head .main-bg2 {
  height: 650px;
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 1;
  animation-delay: 3s;
  animation: fadeIn 5s infinite alternate;
  overflow: hidden;
}

.icons {
  align-items: center;
  display: flex;
  height: 24rem;
  justify-content: space-around;
}

.icons img {
  height: 200px;
  width: 200px;
}

.icons div {
  text-align: center;
}

.resp-main {
  position: relative;
  z-index: 1;
}

.responsiveNav {
  background-color: rgba(228, 226, 226, 0.5);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  margin: 0;
  padding: 0 0 0 20px;
  left: 0;
  width: 100%;
  height: 50%;
  list-style-type: none;
  transform: translateY(-150%);
  transition: transform 0.6s ease;
  z-index: 1;
}

.toggle-nav {
  transform: translateY(0);
}

/*text styles*/

.slash {
  text-decoration: line-through;
}

.underline {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}


@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
}

@keyframes fadesText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {

  nav {
    background-color: rgba(228, 226, 226, 0.5);
  }

  nav ul {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 800px) {

  nav .button {
    display: block;
  }

  nav .nav {
    display: none;
  }
}
