<nav>
  <p>Tyler1</p>
  <ul class="nav">
    <li><a href="/">HOME</a></li>
    <li><a href="#about">ABOUT</a></li>
    <li><a href="https://www.twitch.tv/loltyler1">LIVESTREAM</a></li>
    <li><a href="#contact">CONTACT</a></li>
  </ul>
  <img id="button" class="button" src="images/menu-icon.svg" alt="hamburger menu">
</nav>
<div class="resp-main">
  <ul id="responsiveNav" class="responsiveNav">
    <li><a href="/">HOME</a></li>
    <li><a href="#about">ABOUT</a></li>
    <li><a href="https://www.twitch.tv/loltyler1">LIVESTREAM</a></li>
    <li><a href="#contact">CONTACT</a></li>
  </ul>
</div>
